:root {
  --main-color:#294936  ;
  --magic-color:#521945;
  --alt-color:#FAFFFD;
}


body {
    width: 100%;
    margin: 0;
}


#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
  color: var(--alt-color);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 400px;
    transition: height 0.1s;
    z-index: 1;
    background-color: var(--alt-color);
    color: var(--main-color);
}

.smallHeader {
  flex-direction: row;
  justify-content: center;
  height: 70px;
  font-size: small;
}

.smallHeader img {
  width: 70px;
  height: 70px;
}

main {
  margin-top: 400px;
}

input {
  width: auto;
}